body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: skyblue;
}
table {
        border-collapse: collapse;
        border: 2px solid rgb(140 140 140);
        font-family: sans-serif;
        font-size: 0.8rem;
        letter-spacing: 1px;
    }